* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/*Codigo de nosso desenvolvimento*/



.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
}

.inicio {
    left: 0;
    top: 0;
    max-height: 300px;
    overflow: hidden;
}

.inicio .cubes {}



/**/

/*En todas las clases navbar va a editar todas las que tengan navbar_link*/


/*en las etiquetas a que esten en navbar-link que se apliquen estas reglas cuendo enten en estado hover
el cursor encima de el.
Con este mismo codigo se aplican ya los cambios en wel codigo escrito arriba con la duracion de
nuestra transicion*/



.btn-custom {
    border: 1.5px solid #fff;
    border-radius: 50px;
    color: #fff;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 1s;
}

/*a.btn... si quisiera que se ajustara en todas las etiquetas que tengan la clase custom*/
.btn-custom:hover {
    color: white;
    background: #0D6EFD;
    border: 1.5px #fff;
}

/*Agregacion de actividades y creacion de una clase fixed manipulada por JS*/


/*Esto para generar de nuevo un evento que me deje de manera exacta como estaba si vuelvo al inicio*/



.section-title {
    text-align: center;
    color: rgba(0, 0, 26, 1);
    text-transform: uppercase;
}

/*Configuracion de acordeon*/
.acordion {

    background: linear-gradient(50deg, rgba(0, 0, 26, 1), rgba(78, 76, 107, 1));
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    color: #fff;

}

.accordion-body {
    top: 100px;
    background: linear-gradient(50deg, rgba(0, 0, 26, 1), rgba(78, 76, 107, 1));
}

.col .accordion-button {
    top: 100px;
    height: 40px;
    color: #fff;
    width: 100%;

}


/*Configuracion de seccion de informacion*/
.information .sections {
    margin-left: 120px;
    display: inline-flex;
    width: 100%;


}

.sections h4 {
    color: #0D6EFD;
}

.sections h1 {
    color: rgb(28, 10, 75);
}

.sectionIA img {
    height: 100px;

}

.sectionIA .icons img {
    justify-content: center;
    width: 20 px;
    height: 20px;
}

/*Configuracion de carrusel*/
.carousel-item.active {
    display: block;
    height: 300px;
}


/*Configuracion de footer*/
.Barrafinal {
    margin-left: 200px;
    background: rgb(255, 255, 255);
    transition: all 0.3s;
    z-index: 1000;
}

.Barrafinal:hover {

    transition: all 0.3s;
    background: rgb(77 86 222/30%);

}

.Barrafinal img {
    height: 20px;
    left: 20px;
    padding-right: 5px;
}

.Barrafinal .cuadrados {
    position: relative;
}


footer a {
    text-decoration: none;
    transition: all 0.5;
}

footer a:hover {
    color: #470296;

}

footer li {
    transition: all 0.2s;
}

footer li:hover {
    padding-bottom: 5px;
}

footer p {
    text-decoration: none;
    color: #000000;
}

footer h4 {

    color: rgba(0, 0, 26, 1);
}

footer .social {

    background: #0D6EFD;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 5px;
    padding-left: 0px;
    transition: all 0.3s;
}

footer .social svg {
    color: #fff;
}

footer .social:hover {
    width: 40px;
    height: 40px;
    transform: rotate(360deg);
    padding: 3px 3px 3px 3px;
}


.Barrafinal .cube {
    position: relative;
    top: 100%;
    left: 100%;
    width: 2px;
    height: 2px;
    border: solid 1px #003298;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 4s ease-in forwards infinite;
    animation: cube 4s ease-in forwards infinite;
    background-color: #6cc9ff;
}

.cube {

    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    border-color: #00a3f4;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 10%;
    top: 10%;
}

.cube:nth-child(3) {
    border-color: #473d95;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    left: 30%;
    top: 60%;
}

.cube:nth-child(4) {
    border-color: #00eaff;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    left: 35%;
    top: 40%;
}

.cube:nth-child(5) {
    border-color: #1100ff;
    -webkit-animation-delay: 0.01s;
    animation-delay: 0.01s;
    left: 85%;
    top: 25%;

}

.cube:nth-child(6) {
    border-color: #470296;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 90%;
    top: 90%;
}

@-webkit-keyframes cube {
    from {
        -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(25) rotate(960deg) translate(-50%, -50%);
        transform: scale(25) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

/*Animacion boton de regrsar arriba*/
.go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #0D6EFD;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    /*z index para que aparezca encima*/
    transform: rotate(-90deg);
    transition: all 0.4s;
}

.go-top:hover {
    color: #fff;
    transform: rotate(270deg) scale(2);


}